* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2{
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
a:hover{
    opacity: 1;
}

button{
    margin-top: 1.3rem;
    width: 50%;
    height: 10%;
    border-radius: 5rem;
    margin-left: 5.7em;
}


body {
  font-family: sans-serif;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("bg.jpg");

}

.login-container {
  width: 100%;
  max-width: 400px;
  backdrop-filter: blur(5px);
}

.login-form {
  background: transparent;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 1.2rem;
  height: 23rem;
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid white;
}

.input-group input {
  width: 100%;
  padding: 0.8rem 2rem 0.4rem 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

.input-group label {
  position: absolute;
  left: 0.5rem;
  top: 0.8rem;
  color: white;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.2s ease;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -0.6rem;
  left: 0.4rem;
  font-size: 0.75rem;
  color: white;
  background-color: transparent;
  padding: 0 0.25rem;
}

.input-group .icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

/* Other styling */
.signup-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: white;
}

.signup{
    text-align: center;
    margin-top: 1.6rem;
    color: white;
}
