input{
    border: 0px transparent;
    outline:none;
}

.email{
    display: inline-block;
    border-bottom: 2px solid black; 
}

.login-form{
    width: 20%;
    border: 2px black solid;
    padding-left: 2%;
    border-radius: 1.2rem;
}

